* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-inicio{
    top:0;
    width: 5vw;
    height: 50px;
    margin-left: 20px;
}

header{
    display: grid;
    background-color: rgb(223, 191, 127);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top:0;  
}

.container{
    display: flex;
    background-color: rgb(223, 191, 127);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.logo {
    float: left;
    width: 50vw;
    height: 60vh;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
}

#pagina{
    display: flex;
    width: 30vw;
    cursor: pointer;
    cursor: hand;
    margin-left: 10vw;
}

#servico{
    display: flex;
    width: 30vw;
    cursor: pointer;
    cursor: hand;
}

#trabalhe{
    display: flex;
    width: 30vw;
    cursor: pointer;
    cursor: hand;
}

.logo-marmita{
    display:block;
    float: center;
    width: 50vw;
    height: 35vh;
}

#compre{
    text-align: center;
    height: 5vh;
}

.promo1, .promo2{
    display:block;
}

#frase1{
    text-align: center;
    margin: 50px;
    color: black;
}

#frase2{
    text-align: center;
    font-size: 25px;
    margin: 50px;
    color: rgb(145, 104, 22);
    height: 5vh;
}

#frase4 {
    display: flex;
    text-align: center;
    height: 5vh;
}

#botao1{
    text-align: center;
    display: block;
    color: black;
    background-color: rgb(223, 191, 127);
    font-size: 20px;
    border: 1px black solid;
    cursor: pointer;
    cursor: hand;
}

#botao2{
    text-align: center;
    display:block;
    color: black;
    background-color: rgb(223, 191, 127);
    font-size: 20px;
    border: 1px black solid;
    cursor: pointer;
    cursor: hand;    
}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

#frase5{
    margin-right: 20px;
    text-align: center;
    display: block;
    margin: 10px;
    height: 2vh;
}

#frase6{
    display: block;
    text-align: center;
    height: 5vh;
}

#rede-social1 {
    font-size: 1em;
    padding: 0.5em;
    background-color: rgb(255, 92, 92);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    cursor: hand;

}

#rede-social2 {
    font-size: 1em;
    padding: 0.5em;
    background-color: rgb(138, 140, 247);
    border: none;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    cursor: hand;
}

form{
    margin-left: 10px;
}

#botao3 {
    text-align: center;
    background-color: grey;
    color: black;
    font-size: 15px;
    border: 1px black solid;
    margin-left: 5px;
    cursor: pointer;
    cursor: hand;
}

#localizacao{
    cursor:pointer;
    cursor: hand;
}

#contato{
    cursor:pointer;
    cursor: hand;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px){
     
    * {
        margin: 0 auto;
        padding: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;

    }
   
    header input {
        padding: 7px;
        font-size: 10px;
        font-weight: bold;
        border-radius: 12px;
        border: none;
        background-color: rgb(255, 92, 92);
    }

}